#todos-section .done {
  text-decoration: line-through;
}

#todos-section .done:focus {
  text-decoration: line-through underline;
}

#todos-section ul li:focus {
  outline: none;
  text-decoration: underline;
  list-style-type: circle;
}
